$postBg: #faebd7;
$url: '../../../img/nick/darkthiccborder.png';
$bgimage: '../../../img/nick/patterndark.png';
$font: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
$accentColor:rgb(121, 39, 18);
$accentDark: rgb(77, 22, 8);
$textColor: white;
$accentHover: rgb(235, 97, 33);
$accentHoverable:rgb(216, 202, 181);

@media (prefers-color-scheme: dark) {

::selection{
  background-color: $accentHover;
}

  .hoverable:hover{
     background-color: $accentHoverable;
}

  body {
    background-image: url($bgimage);
    background-size: 2000px;
    background-repeat: inherit;
    font-family: $font;

  }

  .post {
    background-color: $postBg;
    border: 30px solid transparent;
    border-image: url($url) 20% round;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    width: auto;
    height: max-content;
  }

  .container {
    margin-right: 10%;
    margin-left: 10%;
  }

  input[type = submit]{
    background-color: $accentColor;
    border: none;
    padding: 5px;
    text-decoration: none;
    color: $textColor;
    cursor: pointer;
}

input[type = text],[type = date]{
    border-color: $accentColor;
}


input[type = submit]:hover{
    background-color: $accentHover;
}

a{
    float: right;
    color: $accentColor;
}

a:hover{
    color:$accentHover;
}

span{
    display: block;
    word-wrap: break-word;
    font-size: 16px;
    padding: 10px;
}
}