$accentColor:rgb(121, 39, 18);
$accentDark: rgb(77, 22, 8);
$textColor: white;
$accentHover: rgb(235, 97, 33);

@media (prefers-color-scheme: dark) {

    #filter{
    background-color: $accentColor;
    border: none;
    border:$accentDark solid;
    border-width: .2em;
    border-radius: 0 .7em .7em 0;
    }
    #filter:hover{
    background-color:  $accentHover;
    }

    select#sortList:hover {
        color: $accentHover;
    }

    select#sortList {
        display: none;
        margin-left: 1px;
        position: sticky;
        margin-right: 5%;
        border: 2px $accentDark solid;
        background-color: $accentColor;
        border-radius: 0px;
        color: $textColor;
        height: 50px;
        line-height: 37px;
        outline: none;
    }

    select#selectList {
        position: sticky;
        display: none;
        margin-right: 5%;
        border: 2px $accentDark solid;
        background-color: $accentColor;
        border-radius: 0px;
        color: $textColor;
        height: 50px;
        line-height: 37px;
        outline: none;
    }
}