$textColor: rgb(255, 255, 255);
$bgColor: rgb(39, 39, 39);
$buttonColor: rgb(121, 39, 18);
$buttonHover: rgb(235, 97, 33);

@media (prefers-color-scheme: dark) {

    #topBanner {
    }

    .buttonTop {
        padding: 1%;
        width: 150px;
        background-color: $buttonColor;
        border: 0px;
        color: white;
        font-size: 20px;
    }

    .buttonTop:hover {
        background-color: $buttonHover;
    }

    #scroll{
    text-align: center;
    background-color: $buttonColor;
    }

    #dropdown{
    font-size: 20px;
    margin-right: 30px;
    position: relative;
    display: inline-block;
}

    #dropdown:active{
    color: gray;
    }

    #dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
    }

    #dropdown-content a {
    color: black;
    min-width: 60px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }

    #dropdown-content a:hover {background-color: #ddd;
    }
}
