/*new components to copy paste*/
#createPost{
    margin-top: 130px;
    display: block;
    background-color:#ead5c1;
    border: 30px solid transparent;
    border-image: url('../../img/nick/darkthiccborder.png') 20% round;
    width: 500px;
    height: max-content;
}

#keywords{
    border: none;
    padding: 5px;
    width: 50%;
    float: left;
}

#createTopic{
    border: none;
    padding: 5px;
    width: 50%;
    float: left;
}

#createDesc{
    border: none;
    width: 100%;
    height: 150px;
    resize: none;
}

#buttonNewPost{
    background-color: rgb(121, 39, 18);
    border: none;
    padding: 15px;
    margin-top: 10px;
    margin-left: 10%;
    font-size: 16px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

body{
    background-image: url("../../img/nick/patterndark.png");
    background-size: 2000px;
    background-repeat: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button[type = submit]{
    background-color: rgb(121, 39, 18);
    border: none;
    padding: 5px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

button[type = submit]:hover{
    background-color: rgb(235, 97, 33);
}