
.icon{
    width: 30px;
    height: 30px;
}

.icon:hover{
    opacity: 0.9;
}

.icon:active{
    opacity: 0.3;
}

#lb{
    width: 0px;
    height: 0px;
    border: none;
    background: #faebd7;
    float: right;
    margin-right: 30px;
}

#loadMore{
    float: right;
    background-color:rgb(121, 39, 18);
    color: white;
    cursor: pointer;
    width: 180px;
    height: 30px;
    border: none;
    margin-top: 20px;
    margin-right: 2%;
}

select#sortList{
    float: right;
    border: 2px rgb(77, 22, 8) solid;
    background-color: rgb(121, 39, 18);
    border-radius: 0px;
    color: white;
    height: 30px;
    outline: none;
}


#filter{
    background-color:rgb(121, 39, 18);
    color: white;
    padding: 5px;
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
    width: auto;
    height: 30px;
}

#comment{
    background-color:#faebd7;
    padding: 20px;
    margin-top: 10px;
    margin-left: 2%;
    margin-right: 2%;
    width: auto;
    height: max-content;
}


#enterComment{
    background-color:#faebd7;
    width: auto;
    height: max-content;
}

#commentInput{
    resize: none;
    width: 100%;
    height: 100px;
}




body{
    background-image: url("../../img/nick/patterndark.png");
    background-size: 2000px;
    background-repeat: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span{
    display: block;
    word-wrap: break-word;
    font-size: 16px;
    padding: 10px;
}


#container{
    margin-top: 10%;
    background-color:#e6d7c5;
    border: 30px solid transparent;
    border-image: url('../../img/nick/darkthiccborder.png') 20% round;
    padding: 10px;
    width: auto;
    height: max-content;
}

button[type = submit]{
    background-color: rgb(121, 39, 18);
    border: none;
    padding: 5px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

button[type = text]{
    border-image: url(../../img/nick/darkthiccborder.png);
    border-color: rgb(121, 39, 18);
}

button[type = submit]:hover{
    background-color: rgb(235, 97, 33);
}

a{  
    float: right;
    color: rgb(121, 39, 18);
}
a:hover{
    color:rgb(235, 97, 33);
}

.post{
    background-color:#faebd7;
    border: 30px solid transparent;
    border-image: url('../../img/nick/darkthiccborder.png') 20% round;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 10px;
    width: auto;
    height: max-content;
}
