body{
    background-image: url("../../img/nick/patternwhite.jpg");
    background-size: 100px;
    background-repeat: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span{
    display: block;
    word-wrap: break-word;
    font-size: 16px;
    padding: 10px;
}

#search{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#searchBar{
    border:rgb(23, 140, 148) solid;
    border-width: .2em;
    border-radius: .7em 0 0 .7em;
    padding: .2em .2em .2em .5em;
    width: 600px;
    height: 50px;
        
}

#searchButton{
    border:rgb(23, 140, 148) solid;
    border-width: .2em;
    border-radius: 0 .7em .7em 0;
    background-color: rgb(23, 140, 148);
    color:white;
    font-weight:bold;
    padding-bottom: .2em;
    width: 50px;

}

#searchButton:hover{
    background-color:  rgb(5, 191, 201);
}

.main{
    
}

.post{
    background-color:white;
    border: 20px solid transparent;
    border-image: url('../../img/nick/lightthiccborder.png') 90 round;
    margin-left: 8%;
    margin-top: 10px;
    width: 80%;
    height: 150px;
}

.buttonTop{
    padding: 1%;
    width: 150px;
    background-color:rgb(22, 140, 148);
    border:0px;
    color: white;
    font-size: 20px;
}

.buttonTop:hover{
    background-color: rgb(50, 191, 201);
}

#scroll{
    text-align: center;
     background-color: rgb(23, 140, 148);
}

#topBanner{
    float: left;
    color: rgb(24, 100, 105);
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(255, 255, 255);
    font-size: 48px;
}

.logo {
    width: 120px;
    height: 120px;
    float: left;
    padding-left: 10px;
}

#dropdown{
    font-size: 20px;
    margin-right: 20px;
    position: relative;
    display: inline-block;
}

#dropdown:active{
    color: gray;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
}

#dropdown-content a {
    color: black;
    min-width: 60px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#dropdown-content a:hover {background-color: #ddd;}

@media(max-width: 500px) {
    .logo{
        width: 60px;
        height: 60px;
        float: left;
        padding-left: 10px;
    }
    .welcome{
        font-size: 20px;
     }

    .buttonTop{
        width: 50px;
        height: 40px;
        font-size: 12px;
    }

    .post{
        margin-left: 1%;
        width: 95%;
    }

    .thx{
        font-size: 16px;
    }

    #topBanner{
        font-size: 18px;
    }

    #search{
        margin-top: 7px;
    }

    span{
        font-size: 14px;
    }
    li{
        font-size: 14px;
    }

}

@media (prefers-color-scheme: dark) {

    body{
    background-image: url("../../img/nick/patterndark.png");
    background-size: 2000px;
    background-repeat: inherit;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

span{
    display: block;
    word-wrap: break-word;
    font-size: 16px;
    padding: 10px;
}

input[type = submit]{
    background-color: rgb(121, 39, 18);
    border: none;
    padding: 5px;
    text-decoration: none;
    color: white;
    cursor: pointer;
}

input[type = text]{
    border-image: url('../../img/nick/darkthiccborder.png');
    border-color: rgb(121, 39, 18);
}



input[type = submit]:hover{
    background-color: rgb(235, 97, 33);
}

a{
    float: right;
    color: rgb(121, 39, 18);
}
a:hover{
    color:rgb(235, 97, 33);
}


#search{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#searchBar{
    border:rgb(121, 39, 18) solid;
    border-width: .2em;
    border-radius: .7em 0 0 .7em;
    padding: .2em .2em .2em .5em;
    width: 600px;
    height: 50px;

}

#searchButton{
    border:rgb(121, 39, 18) solid;
    border-width: .2em;
    border-radius: 0 .7em .7em 0;
    background-color: rgb(121, 39, 18);
    color:white;
    font-weight:bold;
    padding-bottom: .2em;
    width: 50px;

}

#searchButton:hover{
    background-color:  rgb(235, 97, 33);
}

.main{

}

.post{
    background-color:#faebd7;
    border: 20px solid transparent;
    border-image: url('../../img/nick/darkthiccborder.png') 90 round;
    margin-left: 8%;
    margin-top: 10px;
    width: 80%;
    height: 150px;
}

.buttonTop{
    padding: 1%;
    width: 150px;
    background-color:rgb(121, 39, 18);
    border:0;
    color: white;
    font-size: 20px;
}

.buttonTop:hover{
    background-color: rgb(235, 97, 33);
}

#switchLang{
    font-size: 16px; float:right;
    margin-right: 20px;
}

#scroll{
    text-align: center;
    background-color: rgb(121, 39, 18);
}

#topBanner{
    float: left;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: rgb(39, 39, 39);
    font-size: 48px;
}

.logo {
        width: 120px;
        height: 120px;
        float: left;
        padding-left: 10px;
    }

#dropdown{
    font-size: 20px;
    margin-right: 20px;
    position: relative;
    display: inline-block;
}

#dropdown:active{
    color: gray;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    z-index: 1;
}

#dropdown-content a {
    color: black;
    min-width: 60px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#dropdown-content a:hover {background-color: #ddd;}

@media (max-width: 500px) {
    .logo {
        width: 60px;
        height: 60px;
        float: left;
        padding-left: 10px;
    }
    .welcome {
        font-size: 20px;
    }
    .buttonTop {
        width: 50px;
        height: 40px;
        font-size: 12px;
    }
    .post {
        margin-left: 1%;
        width: 95%;
    }
    .thx {
        font-size: 16px;
    }
    #topBanner {
        font-size: 18px;
    }
    #search {
        margin-top: 7px;
    }

    span {
        font-size: 14px;
    }
    li {
        font-size: 14px;
    }
}

}
