$accentColor: rgb(121, 39, 18);
$accentDark: rgb(77, 22, 8);
$textColor: white;
$accentHover:rgb(235, 97, 33);

@media (prefers-color-scheme: dark) {

  #filter{
    border-radius: 0 .7em .7em 0;
    background-color: $accentColor;
    height: 45px;
    border: .2em $accentDark solid;
  }

  #search {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  #searchBar {
    border: $accentColor solid;
    outline: none;
  }

  #searchButton {

    border: .2em $accentDark solid;
    background-color: $accentColor;
    color: $textColor;
    font-weight: bold;
    padding-bottom: .2em;
    width: 40px;

  }

  #searchButton:hover {
    background-color: $accentHover;
  }

  a.advButton:link, a:visited {
  background-color: $accentColor;
  border: 2px $accentDark solid;
  color: white;
  padding: 14px 0;
  margin-left: 2px;
  text-align: center;
  text-decoration: none;
}

  a#notwhite{
    color: $accentHover;
  }

  select#sortList:hover{
    color: $accentHover;
  }

  #advancedList{
    position:sticky ;
    display: none;
  }

  #advButton{
    background-color: $accentColor;
    border: 2px $accentDark solid;
    margin-left: 2px;
    height: 50px;
    color: white;
    cursor: pointer;
  }
}