{% load static %}
{% load sass_tags %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            EDgermanflex
        </title>
        <link rel="stylesheet" href={%  static 'css/nick/comment.css' %}>
        <link rel="icon" href={% static 'img/nick/logo.png' %} />
        <!--Global light & dark & mobile -->
        <link rel="stylesheet" href="{% sass_src 'css/nick/light/global.scss' %}">
        <link rel="stylesheet" href="{% sass_src 'css/nick/dark/global.scss' %}">
        <link rel="stylesheet" href="{% sass_src 'css/nick/mobile/global.scss' %}">
        <!--End of scss-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>

        $(document).ready(function(){
            $('.newCom').hide();
        $('select').on('change', function() {
            if (this.value==='new'){
                $('.oldCom').hide();
                $('.newCom').show();
            }else if (this.value==='old'){
                $('.oldCom').show();
                $('.newCom').hide();
            }
        });
        });
    </script>
    </head>
        <body>
            {% for data in msg %}
            <div class="post">
                <label style="font-size: 24px; padding: 10px; color: rgb(0, 0, 0);"><b>{{ data.title }}</b></label>
                <label id='date' style="color: rgb(179, 163, 149);">{{ data.created_at.day }}.{{ data.created_at.month }}.{{ data.created_at.year }}</label>
                <label style="font-size: 10px;color: rgb(179, 163, 149); padding-left: 5px;">UTC:</label>
                <label id='time' style="color: rgb(179, 163, 149);">{{ data.created_at.hour}}:{{ data.created_at.minute }}</label><br><br>
                <a href='/team/nick/forum/profile?user={{ data.user }}' style="float: none; padding: 10px;">{{  data.user }}</a>
                <span>{{ data.message }}</span><br>
                 <label style="float: right; color: rgb(179, 163, 149); margin-top: 10px;">{{ data.dislike.all.count }}</label>
                {% if request.user in data.like.all %}
                    <button id="lb" ><img class="icon" id='dislike' alt="dislike" src={% static 'img/nick/dislike.png' %}  ></button>
                {% else %}
                    {% if request.user in data.dislike.all %}
                        <form action="/team/nick/forum/comment/?user={{ data.user }}&title={{ data.title }}" method="POST">
                        {% csrf_token %}
                        <button id="lb" name="undislike" value="undislike"><img class="icon" id='dislike' alt="dislike" type="submit" src={% static 'img/nick/dislike.png' %}  ></button>
                        </form>
                    {% else %}
                        <form action="/team/nick/forum/comment/?user={{ data.user }}&title={{ data.title }}" method="POST">
                        {% csrf_token %}
                        <button id="lb" name="dislike" value="dislike"><img class="icon" id='dislike' alt="dislike" type="submit" src={% static 'img/nick/dislike.png' %}  ></button>
                        </form>
                    {% endif %}
                {% endif %}
                <label style="float: right; color: rgb(179, 163, 149); margin-top: 10px;">{{ data.like.all.count }}</label>
                {% if request.user in data.dislike.all %}
                    <button id="lb"><img class="icon" id='simplike' alt="like" src={% static 'img/nick/simplike.png' %}></button>
                {% else %}
                    {% if request.user in data.like.all %}
                        <form action="/team/nick/forum/comment/?user={{ data.user }}&title={{ data.title }}" method="POST">
                        {% csrf_token %}
                        <button id="lb" name="unlike" value="unlike"><img class="icon" id='simplike' alt="like" src={% static 'img/nick/simplike.png' %} ></button>
                        </form>
                    {% else %}
                        <form action="/team/nick/forum/comment/?user={{ data.user }}&title={{ data.title }}" method="POST">
                        {% csrf_token %}
                        <button id="lb" name="like" value="like"><img class="icon" id='simplike' alt="like" src={% static 'img/nick/simplike.png' %} ></button>
                        </form>
                    {% endif %}
                {% endif %}
                <br><br>
                <hr>
                <form method="POST" action="">
                    {% csrf_token %}
                <div id='enterComment'>
                    <label>Enter your comment:</label><br>
                    {{ form.comments }}<br>
                    <button type="submit" style="float: right;">Submit</button><br>
                </div>
                </form>
            </div>
            {% endfor %}

                            
            <div id='filter'>
                <select id='sortList'>
                    <option id='old' value="old">Old</option>
                    <option id= 'new' value="new">New</option>
                </select>
                    <label style="float: right; margin-right: 10px;">Sort by:</label>
            </div>
            <div class='oldCom'>
            {% for comment in comments_old %}
            <div id='comment'>
                <a href='/team/nick/forum/profile?user={{ comment.User }}' style=" float: left;margin-left:10px;">{{ comment.User }}</a><br>
                <span>{{ comment.comments }}</span>
            </div>
            {% endfor %}
            </div>
            <div class='newCom'>
            {% for comment in comments_new %}
            <div id='comment'>
                <a href='/team/nick/forum/profile?user={{ comment.User }}' style=" float: left;margin-left:10px;">{{ comment.User }}</a><br>
                <span>{{ comment.comments }}</span>
            </div>
            {% endfor %}
            </div>
            <button id='loadMore'>Load more comments</button>
        </body>
</html>