<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>
            EDGermanFlex / Contacts
        </title>
        <link rel="stylesheet" href={% static 'css/nick/contacts.css' %}>
		<link rel="icon" href={% static 'img/nick/logo.png' %} />
        <script>
        let clicked = false;
        function ddMenu(){
            let ddcont = document.getElementById('dropdown-content');
            if(clicked === false){
                ddcont.style.display = 'block'
                clicked = true
            }else{
                ddcont.style.display = 'none'
                clicked = false}}
    </script>
    </head>
    <!--Hardcore starts from here-->
    <body>
        <div id="containor">
            <div id="topBanner">
                <div>
                    <label>Welcome to the official EDGermanflex site!</label>
                    <img src={% static 'img/nick/logo.png' %} style="width: 120px; height: 120px; float: left; padding-left: 10px;">
                    {% if request.user.is_authenticated %}
                    <div id="dropdown"  style="float: right; margin-right: 70px; margin-top: 20px">
                        <label onclick="ddMenu()">{{ request.user.username }}</label>
                            <div  id="dropdown-content">
                                <a href='/team/nick/forum/profile?user={{ request.user.username }}' style="float: left;">Profile</a>
                                <a href="/team/nick/logout" style="float: left;">Logout</a>
                            </div>
                    </div>
                    {% else %}
                        <div id="dropdown"  style="float: right; margin-right: 70px; margin-top: 20px">
                        <label onclick="ddMenu()">New ?</label>
                            <div  id="dropdown-content">
                                <a href="/team/nick/register" style="float: left;">Register</a>
                                <a href="/team/nick/login" style="float: left;">Login</a>
                            </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div id="scroll">
                <button class="buttonTop" onClick="window.location='/team/nick/';">Home</button>
                <button class="buttonTop" onClick="window.location='/team/nick/videos';">Videos</button>
                <button class="buttonTop" onClick="window.location='/team/nick/forum';">Forum</button>
                <button class="buttonTop" onClick="window.location='/team/nick/posts';">Post</button>
                <button class="buttonTop" style="background-color:  rgb(235, 97, 33);" onClick="window.location='/team/nick/contact';">Contact</button>
            </div>
            <div class="main">
                <form action="/team/nick/forum/search" method="get">
                <div id="search">
                    <input type="search" name="User" id="searchBar" placeholder="Quick Search">
                    <button type="submit" id="searchButton"><img src={% static 'img/nick/search.png' %} style="width: 25px; height: 25px;"</button>
                </div>
            </form>
                <div class="post">
                    <label style="font-size: 24px; padding: 10px; color:rgb(23,140,148);"><b>How to Contact me  /  Sozial Media</b></label><br>
                    <span>Click on the Name to open the link :
                        <li><a class='conlink' href="https://discord.gg/BGtnx2b">Discord</a></li>
                        <li><a class="conlink" href="https://www.youtube.com/channel/UC4XnMk-zqFX2KDXNR0Skumw">Youtube</a></li>
                        <li><a class="conlink" href="https://twitter.com/nick56245406?s=09">Twitter</a></li>
                    </span>
                </div>
                <div class="post">
                    <label style="font-size: 24px; padding: 10px; color: rgb(23, 140, 148);"><b>Where do I live</b></label><br>
                    <span>Nick is living in a Trash can </span>
                </div>
            </div>
        </div>
    </body>
</html>