<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>
            EDGermanFlex / Contacts
        </title>
        <link rel="stylesheet" href={% static 'css/nick/contacts.css' %}>
		<link rel="icon" href={% static 'img/nick/logo.png' %} />
        <script>
        let clicked = false;
        function ddMenu(){
            let ddcont = document.getElementById('dropdown-content');
            if(clicked === false){
                ddcont.style.display = 'block'
                clicked = true
            }else{
                ddcont.style.display = 'none'
                clicked = false}}
    </script>
    </head>
    <!--Hardcore starts from here-->
    <body>
        <div id="containor">
            {% include 'nick/top-banner.html' %}
                <div class="post">
                    <label style="font-size: 24px; padding: 10px; color:rgb(23,140,148);"><b>How to Contact me  /  Sozial Media</b></label><br>
                    <span>Click on the Name to open the link :
                        <li style="padding-top: 3px"><a class='conlink' href="https://discord.gg/BGtnx2b">Discord</a></li>
                        <li style="padding-top: 3px"><a class="conlink" href="https://www.youtube.com/channel/UC4XnMk-zqFX2KDXNR0Skumw">Youtube</a></li>
                        <li style="padding-top: 3px"><a class="conlink" href="https://twitter.com/nick56245406?s=09">Twitter</a></li>
                    </span>
                </div>
                <div class="post">
                    <label style="font-size: 24px; padding: 10px; color: rgb(23, 140, 148);"><b>Where do I live</b></label><br>
                    <span>Nick is living in a Trash can </span>
                </div>
                <div class="post">
                    <label style="font-size: 24px; padding: 10px; color: rgb(23, 140, 148);"><b>Found Any Bugs or having Problems ?</b></label><br>
                    <span style="padding-left: 20px">Here are some options
                        <li style="padding-top: 3px">Make Screeshots and send it in the Discord Server Support</li>
                        <li style="padding-top: 3px">Write Morganischkalt#1112 in Discord</li>
                        <li style="padding-top: 3px"><a href="/team/nick/problems">Use the Site support by clicking on this</a></li>
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>