{% load static %}
{% load hashtag %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>
            EDgermanflex
        </title>
        <link rel="stylesheet" href={% static 'css/nick/holy-cascade.css' %}>
        <link rel="icon" href={% static 'img/nick/logo.png' %}>
        <meta name="viewport" content="width=device-width">

        <script src={% static 'js/filterSearch.js' %}></script>
        <script src={% static 'js/newPostUsers.js' %}></script>
        <script src={% static 'js/ddMenu.js' %}></script>
    </head>
    <!--Hardcore starts from here-->
    <body>
    {% include 'nick/top-banner.html' %}
    <!--here new stuff going on-->
    <form action="/team/nick/forum/searchworker/" method="get">
        <div id="search">
            <input  type="search" name="user" id="searchBar" placeholder="Username">
            <input type="search" name="title" id="searchBar" placeholder="Title">
            <button id="searchButton"><img src={% static 'img/nick/search.png' %} style="width: 25px; height: 25px;"> </button>
            <div id='filter' onclick='filterSearch()'><img src={% static 'img/nick/3dots.png' %} style="width: 40px; height: 40px;"></div>
            <div id="filterNewOld">
                <select name="Sort by" id='sortList'>
                    <option value="new">New</option>
                    <option value="old">Old</option>
                </select>
            </div>

            <div id="advancedList">
                    <a class='advButton' href="/team/nick/forum/filter">Advanced</a>
                </div>
        </div>
    </form>

            <!--end of new things-->

            <button onclick="location.href='/team/nick/forum/create';" id='buttonNewPost'>Create new post</button>
            {% for data in message %}
                <div class="post" id="{{ data.user }}={{ data.title }}">
                <label style="font-size: 24px; padding: 10px; color: rgb(0,0,0);"><b>{{ data.title }}</b></label>
                <label id='date' style="color: rgb(179, 163, 149);">{{ data.created_at.day }}.{{ data.created_at.month }}.{{ data.created_at.year }}</label>
                <label style="font-size: 10px;color: rgb(179, 163, 149); padding-left: 5px;">UTC:</label>
                <label id='time' style="color: rgb(179, 163, 149);">{{ data.created_at.hour}}:{{ data.created_at.minute }}</label><br><br>
                <a id="notwhite" href='/team/nick/forum/profile?user={{ data.user }}' style="float: none; padding: 10px;">{{ data.user }}</a>
                <span>{{ data.message }}</span>
                <span id="tags">Keywords :  {% check data.tags %}</span>
                <div style="padding-right: 20px; padding: 5px;"><a id="notwhite" href="/team/nick/forum/message/?user={{ data.user }}&title={{ data.title }}">Comment</a></div>
                </div>
            {% endfor %}
    </body>
</html>