{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>EDGermanFlex / {{ request.user.username }}</title>
    <link rel="stylesheet" href={% static 'css/nick/dropdowmmenu.css' %}>
</head>
<body>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ uf.errors }} <br>
    {{ uf.file }}
    <button>Submit</button>
</form>
<div class="navbar">
  <a href="#home">Home</a>
  <a href="#news">News</a>
  <div class="dropdown">
    <button class="dropbtn">{{ request.user.username }}
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="#">Link 1</a>
      <a href="#">Link 2</a>
      <a href="#">Link 3</a>
    </div>
  </div>
</div>
</body>
</html>