{% load sass_tags %}
<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <title>
            EDGermanFlex
        </title>
        <!-- Global light & Dark | Mobile -->
        <link rel="stylesheet" href={% sass_src 'css/nick/light/global.scss' %}>
        <link rel="stylesheet" href={% sass_src 'css/nick/dark/global.scss' %}>
		<link rel="stylesheet" href={% sass_src 'css/nick/dark-mobile/global.scss' %}>
        <!-- Top-Banner Light & Dark | Mobile -->
        <link rel="stylesheet" type="text/css" href={% sass_src 'css/nick/light/top-banner.scss' %}>
        <link rel="stylesheet" type="text/css" href={% sass_src 'css/nick/dark/top-banner.scss' %}>
        <link rel="stylesheet" href={% sass_src 'css/nick/dark-mobile/top-banner.scss' %}>
        <!-- Icon -->
        <link rel="icon" href={% static 'img/nick/logo.png' %} />
        <!-- Viewport / Can't Explain-->
        <meta name="viewport" content="width=device-width">
        <!-- JS -->
        <script src={% static 'js/ddMenu.js' %}></script>
    </head>
    <!--Hardcore starts from here-->
   <body>
   <!-- Top-Banner HTML-->
   {% include 'nick/top-banner.html' %}

   <!-- Post / Some Information in Main Page -->
   <div class="post">
       <label style="font-size: 24px; padding: 10px; color:rgb(23, 140, 148);"><b>About Developers</b></label><br>
       <span class="thx" >Huge thanks goes to <li>Altyn - for making site and keeping me company always</li>
           <li>Resty - for helping with site and coding cool stuff</li>
           <li>Myself - for being best and first client of Altyn and motivating her</li></span>
   </div>

   <div class="post">
       <label style="font-size: 24px; padding: 10px; color:rgb(23, 140, 148);"><b>General topics</b></label><br>
       <span>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</span>
   </div>

   <div class="post">
       <label style="font-size: 24px; padding: 10px; color: rgb(23, 140, 148);"><b>Videos timetable</b></label><br>
       <span>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</span>
   </div>
   <!-- Information Ends Here -->
   </body>
</html>