{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>
            EDgermanflex / {{ User }}
        </title>
        <link rel="stylesheet" href={% static 'css/nick/forum.css' %}>
		<link rel="icon" href={% static 'img/nick/logo.png' %}>
    </head>
    <!--Hardcore starts from here-->

    <script>
        //change clicked to profileClicked, more understandable
        let profileClicked = false;

        function ddMenu(){
            let ddcont = document.getElementById('dropdown-content');
            
            if(profileClicked == false){
                ddcont.style.display = 'block'
                profileClicked = true
            }else{
                ddcont.style.display = 'none'
                profileClicked = false
            }
        }

    </script>
    <body>
        <div id="containor">
            <div id="topBanner">

                <!--u have this-->
			{% if request.user.is_authenticated %}
            <div id="dropdown"  style="float: right; margin-right: 50px;">
                <label onclick="ddMenu()">{{ request.user.username }}</label>
                <div  id="dropdown-content">
                    <a href="./myaccount" style="float: left;">Profile</a>
                    <a href="./logout" style="float: left;">Logout</a>
                </div>
            </div>
			{% else %}
			<div id="dropdown"  style="float: right; margin-right: 70px; margin-top: 20px">
                <label onclick="ddMenu()">New ?</label>
                <div  id="dropdown-content">
                    <a href="./myaccount" style="float: left;">Profile</a>
                    <a href="./register" style="float: left;">Register</a>
                    <a href="./login" style="float: left;">Login</a>
                </div>
            </div>
			{% endif %}
                <div>
                    <label>Welcome to official EDGermanflex site!</label>
                    <img src={% static 'img/nick/logo.png' %} style="width: 120px; height: 120px; float: left; padding-left: 10px;">
                </div>
            </div>

            

            <div id="scroll">
                <button class="buttonTop" onClick="window.location='/team/nick/';">Home</button>
                <button class="buttonTop" onClick="window.location='/team/nick/videos';">Videos</button>
                <button class="buttonTop" onClick="window.location='/team/nick/forum';">Forum</button>
                <button class="buttonTop" onClick="window.location='/team/nick/posts';">Post</button>
                <button class="buttonTop" onClick="window.location='/team/nick/contact';">Contact</button>
            </div>
            <form action="/team/nick/forum/search" method="get">
                <div id="search">
                    <input type="search" name="User" id="searchBar" placeholder="Quick Search">
                    <button type="submit" id="searchButton"><img src={% static 'img/nick/search.png' %} style="width: 25px; height: 25px;"</button>
                </div>
            </form>

			{% for data in message %}
                <div class="post">
                <label style="font-size: 24px; padding: 10px; color: rgb(0, 0, 0);"><b>{{ data.title }}</b></label><br><br>
                <a href='/authorprofile' style="float: none; padding: 10px;">{{ data.user }}</a>
                <span>{{ data.message }}</span>
                <div style="padding-right: 20px; padding: 10px;"><a>Show more</a></div>
                </div>
            {% endfor %}

        </div>
    </body>
</html>