{% load static %}
{% load hashtag %}
<!DOCTYPE html>
<html>
    <title>
        EDGermanFlex
    </title>
    <link rel="stylesheet" href={% static 'css/nick/profile.css' %}>
    <link rel="icon" href={% static 'img/nick/logo.png' %}>
    <body>
        <center>
        <div id="profile">
        {% for profil in profile %}
            <label style="font-size: 20px;"><b>{{ profil.username }}</b></label><br><br>
            
            <div style="font-size: 13px;">
            {% if profil.discord_member %}
                <label id='discordTag' >{{ profil.discord_name }} &nbsp;&nbsp;|</label>
            {% else %}
                <label id='discordTag'>No Discord Member &nbsp;&nbsp;|</label>
            {% endif %}
            {% if profil.muffin_family %}
             <label id='muffinRole' style="padding-left: 10px;">{{ profil.muffin_role}} &nbsp;&nbsp; |</label>
            {% endif %}
            {% if profil.special %}
                <label id='specialRole' style="padding-left: 10px;">{{ profil.special_roles}}</label>
            {% else %}
              <label id='specialRole' style="padding-left: 10px;">Elemental Dungeon Player </label>
            {% endif %}
            </div>
            <hr>
            Messages posted : {{ msg_counter }}

        {% for msg in data %}
        <hr><div  id="userMessage">
            <label id='userTopic' style="font-size: large;"><b>{{ msg.title }}</b></label><br><br>
            <label id='userDescription'> {{ msg.message}}</label><br><br>
            <label id='userKeyword' style="font-size: 13px;">{% check msg.tags %}</label>
        </div>
        {% endfor %}
        {% endfor %}
        </div>
        </center>
    </body>
</html>

<!--<textarea id='createDesc' style="height: 50px;" maxlength="255"></textarea><br><br>     <label style="padding-right: 10px; float: left;">Status:</label><br>-->
<!--            <input type="submit" style="float: right;"><br>-->