$url: '../../../img/nick/lightthiccborder.png';
$accentColor: rgb(6,150,160);
$accentDark: rgb(1, 95, 102);
$textColor: white;
$accentHover: rgb(0, 231, 236);
$postBg: white;

  #createPost {
    display: block;
    background-color: $postBg;
    border: 30px solid transparent;
    border-image: url($url) 20% round;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
    width: auto;
    height: max-content;
  }

  #keywords {
    border: none;
    padding: 5px;
    width: 50%;
  }

  #createTopic {
    border: none;
    padding: 5px;
    width: 50%;
  }

  #createDesc {
    border: none;
    width: 100%;
    height: 150px;
    resize: none;
  }

  #buttonNewPost {
    background-color: $accentColor;
    border: none;
    padding: 15px;
    margin-top: 10px;
    margin-left: 10%;
    font-size: 16px;
    text-decoration: none;
    color: $textColor;
    cursor: pointer;
  }

  #tags{
    margin-top: 10px;
    font-size: 14px;
}
