$hoverColor: gray;
$bgColor: #f1f1f1;
$textColor: black;

#dropdown{
    font-size: 20px;
    margin-right: 20px;
    position: relative;
    display: inline-block;
}

#dropdown:active{
    color: $hoverColor;
}

#dropdown-content {
    display: none;
    position: absolute;
    background-color: $bgColor;
    z-index: 1;
}

#dropdown-content a {
    color: $textColor;
    min-width: 60px;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
#dropdown-content a:hover {
    background-color: $hoverColor;
}